@import "bootstrap-sprockets";
@import "bootstrap";
body {
  .container[role="main"] {
    margin-bottom: 40px;
  }
}

.navbar {
  .collapse {
    .text-center {
      padding-top: 15px;
    }
  }
}

.system-messages {
  height: 40px;
  position: relative;

  .alert {
    opacity: 0.7;
  }
}

.post {
  border-bottom: 1px solid $gray-lighter;
  padding: 20px 0;
}
.post-retweeted {
  padding-left: 3%;
}

.alert-js {
  display: none;
}

.list-all-users {
  .list-group-item {
    position: relative;

    .user-link {
      margin-left: 33px;
    }

    a:last-child {
      margin-left: 10px;
    }

    img {
      position: absolute;
      top: 4px;
      left: 6px;
    }
  }
}