<!DOCTYPE html>
<html>
  <head>
    <title>TwitterLike</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="admin <%= controller_name + '_' + action_name %>">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 system-messages">
          <%= flash_messages %>
        </div>
      </div>
      <%= yield %>
    </div>
    <footer class="footer">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>